<div class="top-bar text-white d-flex align-items-center">
  <div class="container-fluid px-4 px-lg-5">
    <a></a>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark custom-navbar fixed-top">
  <div
    class="container-fluid px-4 px-lg-5 d-flex flex-column flex-lg-row align-items-center"
  >
    <a class="navbar-brand me-0 me-lg-4" href="index.html">
      <img src="img/logo.png" alt="V Congreso 2026" class="header-logo" />
    </a>

    <button
      class="navbar-toggler my-3 my-lg-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent"
      aria-controls="navbarContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse justify-content-lg-end"
      id="navbarContent"
    >
      <ul class="navbar-nav align-items-center gap-3 text-center">
        <li class="nav-item">
          <a
            class="nav-link fw-bold text-white d-flex align-items-center gap-1"
            href="index.html"
          >
            Inicio
          </a>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle fw-bold text-white"
            href="#"
            id="congresoDrop"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Congreso</a
          >
          <ul
            class="dropdown-menu dropdown-menu-dark"
            aria-labelledby="congresoDrop"
          >
            <li>
              <a class="dropdown-item" href="bienvenida.html"
                >Bienvenida al Congreso</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="Ponencias.html">Ponencias</a>
            </li>
            <li>
              <a class="dropdown-item" href="cronograma.html">Cronograma</a>
            </li>
            <li><a class="dropdown-item" href="#">Organizadores</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link fw-bold text-white" href="Ponencias.html"
            >Ponencias</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link fw-bold text-white" href="galeria.html">Galeria</a>
        </li>

        <li class="nav-item">
          <a class="nav-link fw-bold text-white" href="lugar.html">Lugar</a>
        </li>

        <li class="nav-item ms-lg-3 mt-3 mt-lg-0">
          <a
            class="btn btn-inscripcion fw-bold px-4 py-2"
            href="inscripcion.html"
            >Inscripción</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
